
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    .container {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      width: 400px; /* Increased width for a more spacious layout */
      text-align: center;
    }

    h1 {
      color: #333;
      margin-bottom: 20px; /* Add some spacing below the header */
    }

    form {
      display: flex;
      flex-direction: column;
    }

    input[type="url"] {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-bottom: 10px;
    }

    button {
      padding: 10px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    button:hover {
      background-color: #0056b3;
    }
  

  
   
    .shortened-url {
      margin-top: 20px;
      color: #333;
      font-size: 18px;
    }

    .copy-button {
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      padding: 10px 20px;
      cursor: pointer;
      margin-top: 10px;
    }

    .copy-button:hover {
      background-color: #0056b3;
    }
  